from kfp import dsl
from kfp.dsl import Dataset, Input, Output

@dsl.component()
def {{ recipe_id }}(
    {%- for input_name in non_root_inputs %}
    {{ input_params[input_name] }}: Input[Dataset],
    {%- endfor %}
    {%- for managed_folder_id in managed_folder_inputs %}
    managed_folder_{{ managed_folder_id }}_path: str,
    {%- endfor %}
    {%- for output_name in output_datasets %}
    {{ output_params[output_name] }}: Output[Dataset]{{ "," if not loop.last else "" }}
    {%- endfor %}
):
    """
    Transform {{ input_datasets|join(', ') }} → {{ output_datasets|join(', ') }}
    Source Dataiku Recipe: {{ recipe_id }}
    Input Data:
        {%- for input_name in input_datasets %}
        {{ input_name }} {{ input_lineage.get(input_name, "") }}
        {%- endfor %}
{%- if managed_folder_inputs %}
    Managed Folders:
        {%- for managed_folder_id in managed_folder_inputs %}
        {{ managed_folder_id }} (GCS bucket path)
        {%- endfor %}
{%- endif %}
{% if output_datasets %}
    Output Data:
        {%- for output_name in output_datasets %}
        {{ output_name }} {{ output_lineage.get(output_name, "") }}
        {%- endfor %}
{%- endif %}
    """


# ====================================================================================================
# DATAIKU RECIPE METADATA
# ====================================================================================================
{%- if recipe_metadata %}
{%- for line in recipe_metadata.split('\n') %}
# {{ line }}
{%- endfor %}
{%- endif %}
